/vendor/
/node_modules/
/public/storage

.env
.env.local
.env.*.local

/storage/*.key
/storage/logs/*
/storage/framework/*
!/storage/framework/.gitignore

/bootstrap/cache/*

.idea/
.vscode/
*.swp
*.swo

# IDEs
.phpstorm.meta.php
_ide_helper.php
_ide_helper_models.php

# Configuration files
config/local/
config/*.local.php

.DS_Store
Thumbs.db

npm-debug.log*
yarn-error.log*